doctype html
html
  head
    title Aishwarya dance academy
    block scripts
    block style 
  body 
    nav#navbar 
        ul 
            div#logo
                img(src="/static/img/logo.png", alt="")
                | HDA   
            li #[a(href="/") Home]  
            li #[a(href="/") About] 
            li #[a(href="/") Services]  
            li #[a(href="/") Class Info]  
            li #[a(href="/Contact") Contact Us] 

    block content 
    footer#footer 
        | Copyright @ 2022 AishwaryaDanceAcademy.com | All right resverd